* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    font-family: Consolas, Menlo, Monaco, 'Liberation Mono', 'DejaVu Sans Mono', 'Courier New', monospace;
    background-color: #000;
    color: #ff7e00;
    font-size: 1.9vh;
    /* Base font size */
    text-transform: uppercase;
}

h1 {
    font-size: 200%;
}

.square-wrapper {
    display: grid;
    place-items: center;
    min-height: 100vh;
    width: 100vw;
}

.container {
    aspect-ratio: 1 / 1;
    height: 100vh;
    max-height: 100vw;
    max-width: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    border: 0.1rem solid #ff7e00;
    overflow: auto;
}

header {
    border-bottom: 0.1rem solid #ff7e00;
    padding: 2vh 0;
    display: grid;
    gap: 2vh;
    position: sticky;
    top: 0;
    background-color: #000;
    z-index: 1000;
}

.logo {
    text-align: center;
    margin: 0 2vh;
}

.logo a {
    text-decoration: none;
    color: #ff7e00;
    ;
}

nav {
    margin: 0 2vh;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 2vw;
}

nav ul li a {
    text-decoration: none;
    color: #ff7e00;
    font-size: 130%;
    white-space: nowrap;
}

a {
    display: inline-block;
}

a::before {
    content: "< ";
}

a::after {
    content: " >";
}

main {
    display: grid;
    overflow: auto;
    scrollbar-color: #ff7e00 transparent;
}

.content-wrapper {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;
    min-height: 100%;
    padding-top: 2vh;
}

.content-wrapper>* {
    margin: 0 2vh 3vh;
    padding: 0vh 1.5vh 2vh;
}

.two-column {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2vh;
}

h2 {
    font-size: 130%;
    margin-bottom: 1vh;
}

h3 {
    font-size: 95%;
    margin: 1.6vh 0 0.2vh 0;
}

p {
    line-height: 1.4;
}

p.quote::before {
    content: '> ';
}

.ascii-art {
    font-size: 230.75%;
    text-transform: none;
    white-space: pre;
    display: grid;
    place-items: center;
    user-select: none;
}

.ascii-art,
.ascii-art * {
    outline: none!important;
    -webkit-tap-highlight-color: transparent !important;
}

.ascii-art>code {
    position: relative;
    cursor: pointer;
    padding: 0 1.5rem;
}

.ascii-art>code::before {
    content: 'NO TOUCHING!!!';
    position: absolute;
    left: 50%;
    top: 100%;
    min-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    margin-top: 0.7rem;
    text-align: center;
    font-size: 40%;
    line-height: 1.3em;
    background-color: #000;
    box-shadow:
        0 -0.2rem #000,
        0 -0.4rem #ff7e00,
        0.2rem 0 #000,
        0.2rem -0.2rem #ff7e00,
        0.4rem 0 #ff7e00,
        0 0.2rem #000,
        0 0.4rem #ff7e00,
        -0.2rem 0 #000,
        -0.2rem 0.2rem #ff7e00,
        -0.4rem 0 #ff7e00,
        -0.2rem -0.2rem #ff7e00,
        0.2rem 0.2rem #ff7e00;
    font-weight: bold;
    transform-origin: center;
    transform: translate3d(-50%, 0, 0) scale(1.1);
    visibility: hidden;
    opacity: 0;
}

.ascii-art>code::after {
    content: '>.<';
    position: absolute;
    left: 25%;
    right: 25%;
    top: 34%;
    text-align: center;
    background: #000;
    visibility: hidden;
    opacity: 0;
}


.ascii-art>code:hover:active {
    transform-origin: center;
    transform: scale(.9);
}

.ascii-art>code:hover:active::before,
.ascii-art>code:hover:active::after {
    visibility: visible;
    opacity: 1;
}

footer {
    text-align: center;
    padding: 2vh 0;
    border-top: 0.1rem solid #ff7e00;
}

footer p {
    padding: 0 2vh 0 2vh;
    margin: auto;
    max-width: 71vh;
    text-align: center;
    font-size: 84.6%;
}

footer copyright {
    display: inline-block;
    position: relative;
}

footer copyright::before {
    content: '\00A9';
    display: inline-block;
    vertical-align: text-top;
    transform: scale(1.4);
    padding-right: 0.1rem;
}

footer copyright>span {
    display: inline-block;
}

footer copyright>span::first-letter {
    font-size: 0;
}

@keyframes blink {
    0% {}

    50% {
        color: black;
    }

    100% {}
}

footer p::after {
    content: "|";
    animation: blink 1s infinite;
    font-weight: bold;
}

a {
    color: #ff7e00;
    text-decoration: none;
}

a:hover {
    color: #b45d09
}

@media (max-aspect-ratio: 1/1) {

    html,
    body {
        font-size: 3.3vw;
    }

    .square-wrapper {
        height: auto;
    }

    .container {
        aspect-ratio: auto;
        max-height: none;
        max-width: none;
        width: 100%;
        min-height: 100vh;
    }

    nav ul {
        gap: 2.5vw;
    }

    .two-column {
        grid-template-columns: 1fr;
    }

    header {
        position: sticky;
        top: 0;
    }

    .content-wrapper {
        grid-template-rows: auto;
    }
}
